<template>
  <div>
    <div class="block block--heading">TWUBRIC</div>
    <div class="block block--dark">
      <div class="block">
        <div class="mb-10">Sort by</div>
        <twubric-sort :currentKey="sortKey" :order="sortOrder" @sort="sortData" />
      </div>
      <div class="block">
        <div>Joined Twitter between</div>
        <date-picker @clear-filter="clearFilter" @filter="filterOnDates" />
      </div>
      <div class="twubric-grid">
        <twubric-card
          v-for="each in twubricData"
          :key="each.uid"
          :info="each"
          :selected="selectedUserUid == each.uid"
          @remove="removeUser"
        />
      </div>
      <div class="block">
        <div>Keyboard actions</div>
        <key-actions
          @sort="sortData"
          @select="(action) => { cardKeyAction = action; actionStepCount++ }"
        />
      </div>
    </div>
    <visual-summary :data="twubricData" class="block" />
  </div>
</template>

<script>
import TwubricCard from "@/view/components/twubric-card";
import TwubricSort from "@/view/components/twubric-sort";
import DatePicker from "@/view/components/date-picker";
import VisualSummary from "@/view/components/visual-summary";
import KeyActions from "@/view/components/key-actions";

export default {
  components: {
    TwubricCard,
    TwubricSort,
    DatePicker,
    VisualSummary,
    KeyActions
  },
  data() {
    return {
      twubricData: null,
      sortKey: null,
      sortOrder: null,
      dataBeforeFilter: null,
      cardKeyAction: null,
      selectedUserUid: null,
      selectedUserIndex: null,
      actionStepCount: 0
    };
  },
  created() {
    this.getData();
  },
  watch: {
    actionStepCount() {
      if (this.actionStepCount == 1) this.selectedUserIndex = 0;
      else if (this.cardKeyAction == "above")
        this.selectedUserIndex = this.selectedUserIndex - 3;
      else if (this.cardKeyAction == "below")
        this.selectedUserIndex = this.selectedUserIndex + 3;
      else if (this.cardKeyAction == "left")
        this.selectedUserIndex = this.selectedUserIndex - 1;
      else if (this.cardKeyAction == "right")
        this.selectedUserIndex = this.selectedUserIndex + 1;
      else if (this.cardKeyAction == "remove" && this.selectedUserUid) {
        this.removeUser(this.selectedUserUid);
        this.selectedUserUid = null;
        this.selectedUserIndex = null;
        this.actionStepCount = 0;
      }
    },

    selectedUserIndex(val) {
      if (this.twubricData[val]) {
        this.selectedUserUid = this.twubricData[val].uid;
      } else {
        this.selectedUserUid = null;
        this.actionStepCount = 0;
      }
    }
  },
  methods: {
    getData() {
      this.twubricData = require("@/data.json");
    },

    removeUser(uid) {
      let index = this.twubricData.findIndex(element => element.uid == uid);
      if (index < 0) return;
      this.twubricData.splice(index, 1);
    },

    sortData(key) {
      if (this.sortKey === key && this.sortOrder === "descending") {
        this.sortKey = null;
        this.sortOrder = null;
        this.twubricData.sort(
          (firstEl, secondEl) => firstEl.uid - secondEl.uid
        );
      } else if (this.sortKey === key && this.sortOrder === "ascending") {
        this.sortOrder = "descending";
        this.twubricData.sort(
          (firstEl, secondEl) => secondEl.twubric[key] - firstEl.twubric[key]
        );
      } else {
        this.sortKey = key;
        this.sortOrder = "ascending";
        this.twubricData.sort(
          (firstEl, secondEl) => firstEl.twubric[key] - secondEl.twubric[key]
        );
      }
    },

    filterOnDates(start, end, filterChanged = false) {
      if (filterChanged) this.twubricData = this.dataBeforeFilter;
      this.dataBeforeFilter = this.twubricData;

      this.twubricData = this.twubricData.filter(element => {
        let joinDate = this.structureDate(new Date(element.join_date));
        let startDate = this.structureDate(start);
        let endDate = this.structureDate(end);
        let joinedAfterStart = joinDate >= startDate;
        let joinedBeforeEnd = joinDate <= endDate;
        return joinedAfterStart && joinedBeforeEnd;
      });

      this.sortAfterFilter();
    },

    structureDate(date) {
      return `${date.getFullYear()}${
        date.getMonth() < 10 ? `0${date.getMonth()}` : date.getMonth()
      }${date.getDate() < 10 ? `0${date.getDate()}` : date.getDate()}`;
    },

    clearFilter() {
      this.twubricData = this.dataBeforeFilter;
      this.sortAfterFilter();
    },

    sortAfterFilter() {
      if (this.sortKey) {
        if (this.sortOrder === "ascending")
          this.twubricData.sort(
            (firstEl, secondEl) =>
              firstEl.twubric[this.sortKey] - secondEl.twubric[this.sortKey]
          );
        else if (this.sortOrder === "descending")
          this.twubricData.sort(
            (firstEl, secondEl) =>
              secondEl.twubric[this.sortKey] - firstEl.twubric[this.sortKey]
          );
        this.twubricData = [...this.twubricData];
      }
    }
  }
};
</script>

<style lang="scss">
.twubric-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.block {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem;

  &--heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #6c757d;
    font-weight: 600;
  }

  &--dark {
    background-color: #6c757d;
  }
}
</style>