<template>
  <div class="date-picker">
    <div class="date-picker__date">
      <div>Start date</div>
      <v-date-picker v-model="startDate" mode="single" class="date-picker__picker" />
      <i @click="startDate = null" class="fa fa-trash date-picker__clear-icon" />
    </div>
    <div class="date-picker__date">
      <i @click="endDate = null" class="fa fa-trash date-picker__clear-icon" />
      <v-date-picker v-model="endDate" mode="single" class="date-picker__picker" />
      <div>End date</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VCalendar from "v-calendar";
export default {
  data() {
    return { startDate: null, endDate: null };
  },
  computed: {
    dateRangeSelected() {
      if (this.startDate && this.endDate) return true;
      return false;
    }
  },
  watch: {
    dateRangeSelected(val) {
      if (val) this.$emit("filter", this.startDate, this.endDate);
      else this.$emit("clear-filter");
    },
    startDate(oldVal, newVal) {
      if (oldVal !== newVal && this.endDate)
        this.$emit("filter", this.startDate, this.endDate, true);
    },
    endDate(oldVal, newVal) {
      if (oldVal && newVal && oldVal !== newVal && this.startDate)
        this.$emit("filter", this.startDate, this.endDate, true);
    }
  },
  created() {
    Vue.use(VCalendar);
  }
};
</script>

<style lang="scss">
.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__picker {
    margin: 1rem;
  }

  &__clear-icon {
    cursor: pointer;
    color: #da4033;
    padding: 0.25rem 0.3rem;
    border-radius: 50%;

    &:hover {
      background-color: #da4033;
      color: #fff;
    }
  }
}
</style>