<template>
  <div class="key-actions">
    <div>
      <p>Shift + T: Sort by Twubric score</p>
      <p>Shift + F: Sort by Friends</p>
      <p>Shift + I: Sort by Influence</p>
      <p>Shift + C: Sort by Chirpiness</p>
    </div>
    <div>
      <p>Shift + A: Select user left</p>
      <p>Shift + W: Select user above</p>
      <p>Shift + D: Select user right</p>
      <p>Shift + S: Select user bottom</p>
      <p>Shift + R: Remove selected user</p>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    window.addEventListener("keypress", this.onKeyPress);
  },
  destroyed() {
    window.removeEventListener("keypress", this.onKeyPress);
  },
  methods: {
    onKeyPress(event) {
      if (event.shiftKey) {
        if (event.code === "KeyT") this.$emit("sort", "total");
        if (event.code === "KeyF") this.$emit("sort", "friends");
        if (event.code === "KeyI") this.$emit("sort", "influence");
        if (event.code === "KeyC") this.$emit("sort", "chirpiness");
        if (event.code === "KeyW") this.$emit("select", "above");
        if (event.code === "KeyD") this.$emit("select", "right");
        if (event.code === "KeyS") this.$emit("select", "below");
        if (event.code === "KeyA") this.$emit("select", "left");
        if (event.code === "KeyR") this.$emit("select", "remove");
      }
    }
  }
};
</script>

<style lang="scss">
.key-actions {
  display: flex;
  justify-content: space-evenly;
}
</style>