<template>
  <div class="btn-group twubric-sort-group" role="group">
    <button
      v-for="(button, i) in buttons"
      :key="i"
      @click="$emit('sort', button.emitParam)"
      type="button"
      class="btn btn-secondary"
    >
      <span class="mr-10">{{button.displayText}}</span>
      <i v-if="currentKey === button.emitParam && order==='ascending'" class="fa fa-sort-asc" />
      <i
        v-else-if="currentKey === button.emitParam && order==='descending'"
        class="fa fa-sort-desc"
      />
    </button>
  </div>
</template>

<script>
export default {
  props: ["currentKey", "order"],
  data() {
    return {
      buttons: [
        { displayText: "Twubric Score", emitParam: "total" },
        { displayText: "Friends", emitParam: "friends" },
        { displayText: "Influence", emitParam: "influence" },
        { displayText: "Chirpiness", emitParam: "chirpiness" }
      ]
    };
  }
};
</script>

<style lang="scss">
.twubric-sort-group {
  width: 100%;
  margin-bottom: 1rem;
}
</style>