<template>
  <div class="twubric-card" :class="{'twubric-card--selected' : selected}">
    <div class="twubric-card__header">
      <div class="twubric-card__header__left">
        <img :src="info.image" class="twubric-card__header__left__user-image" />
        <span>{{info.fullname}}</span>
      </div>
      <div class="twubric-card__header__right">{{info.twubric.total}}</div>
    </div>
    <div class="twubric-card__body">
      <div class="twubric-card__body__field">
        <div>{{info.twubric.friends}}</div>
        <div>Friends</div>
      </div>
      <div class="twubric-card__body__field">
        <div>{{info.twubric.influence}}</div>
        <div>Influence</div>
      </div>
      <div class="twubric-card__body__field">
        <div>{{info.twubric.chirpiness}}</div>
        <div>Chirpiness</div>
      </div>
    </div>
    <div class="twubric-card__footer">
      <div>{{dateString}}</div>
      <div @click="$emit('remove', info.uid)" class="twubric-card__footer__remove">Remove</div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["info", "selected"],
  data() {
    return {
      monthNames: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      selectedCard: null
    };
  },
  computed: {
    dateString() {
      let date = new Date(this.info.join_date);
      return `${date.getDate()} ${
        this.monthNames[date.getMonth()]
      }, ${date.getFullYear()}`;
    }
  }
};
</script>

<style lang="scss">
.twubric-card {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem;

  &--selected {
    box-shadow: inset 0 0 10px #da4033;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #eee;

    &__left {
      display: flex;
      align-items: center;

      &__user-image {
        border-radius: 50%;
        margin-right: 1rem;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #eee;

    &__field {
      text-align: center;
      padding: 0 1rem;

      &:not(:last-child) {
        border-right: solid 1px #eee;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__remove {
      color: #da4033;
      cursor: pointer;
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0.25rem 0.5rem;
      border-radius: 10px;

      &:hover {
        color: #fff;
        background-color: #da4033;
        font-weight: 600;
      }
    }
  }
}
</style>