<template>
  <div>
    <div class="ml-10 mb-10">Visual Summary</div>
    <div v-for="each in data" :key="each.uid" class="visual-summary">
      <div class="visual-summary__info">
        <img :src="each.image" class="visual-summary__info__user-image" />
        <span>{{each.fullname}}</span>
        <span
          v-if="each.twubric.total !== each.twubric.friends + each.twubric.influence + each.twubric.chirpiness"
          class="visual-summary__info__warning"
        >
          <i class="fa fa-exclamation-triangle" />
          data error
        </span>
      </div>
      <div class="visual-summary__bar">
        <div
          class="visual-summary__bar visual-summary__bar__section visual-summary__bar__section--friends"
          :style="`width: ${each.twubric.friends * 10}%`"
        >
          <span>Friends</span>
          <span>{{each.twubric.friends}}</span>
        </div>
        <div
          class="visual-summary__bar visual-summary__bar__section visual-summary__bar__section--influence"
          :style="`width: ${each.twubric.influence * 10}%`"
        >
          <span>Influence</span>
          <span>{{each.twubric.influence}}</span>
        </div>
        <div
          class="visual-summary__bar visual-summary__bar__section visual-summary__bar__section--chirpiness"
          :style="`width: ${each.twubric.chirpiness * 10}%`"
        >
          <span>Chirpiness</span>
          <span>{{each.twubric.chirpiness}}</span>
        </div>
      </div>
      <div class="visual-summary__total">{{each.twubric.total}}</div>
    </div>
  </div>
</template>

<script>
export default { props: ["data"] };
</script>

<style lang="scss">
.visual-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6c757d;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0.5rem 1rem;
  padding: 0.5rem 2rem;

  &__info {
    width: 30%;
    &__user-image {
      border-radius: 50%;
      margin-right: 1rem;
    }

    &__warning {
      margin-left: 1rem;
      color: #ffdd42;
      font-style: italic;
    }
  }

  &__total {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #6c757d;
    font-weight: 600;
    user-select: none;
  }

  &__bar {
    display: flex;
    flex-direction: row-reverse;
    width: 65%;
    border-radius: 10px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;

    &__section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0.5rem;
      user-select: none;

      &--friends {
        background-color: #22cc77;
      }

      &--influence {
        background-color: #7722cc;
      }

      &--chirpiness {
        background-color: #cc7722;
      }
    }
  }
}
</style>