<template>
  <div id="app">
    <twibric-app />
  </div>
</template>

<script>
import TwibricApp from "@/view/twibric-app";
export default {
  components: {
    TwibricApp
  }
};
</script>

<style lang="scss">
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.ml-10 {
  margin-left: 1rem;
}

.mb-10 {
  margin-bottom: 1rem;
}
</style>
